attrs==23.1.0
aws-cdk.cloud-assembly-schema==1.204.0
aws-cdk.core==1.204.0
aws-cdk.cx-api==1.204.0
aws-cdk.region-info==1.204.0
aws-shell==0.2.2
aws-wsgi==0.2.7
awscli==1.31.8
bcrypt==4.0.1
blinker==1.7.0
boto3==1.33.8
botocore==1.33.8
cattrs==23.2.3
certifi==2023.11.17
click==8.1.7
cloudinary==1.37.0
colorama==0.4.6
configobj==5.0.8
constructs==3.4.344
dnspython==2.4.2
docutils==0.16
email-validator==2.0.0.post2
Flask==3.0.0
Flask-Bcrypt==1.0.1
Flask-JWT-Extended==4.5.3
Flask-Login==0.6.3
Flask-Mail==0.9.1
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
greenlet==3.0.0
gunicorn==21.2.0
idna==3.4
importlib-resources==6.1.1
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
jsii==1.93.0
MarkupSafe==2.1.3
mysql-connector==2.2.9
mysql-connector-python==8.1.0
packaging==23.2
passlib==1.7.4
Pillow==10.1.0
prompt-toolkit==1.0.18
protobuf==4.21.12
publication==0.0.3
pyasn1==0.5.1
Pygments==2.17.2
PyJWT==2.8.0
python-dateutil==2.8.2
python-dotenv==1.0.0
PyYAML==6.0.1
rsa==4.7.2
s3transfer==0.8.2
setuptools==68.2.2
six==1.16.0
SQLAlchemy==2.0.22
svgwrite==1.4.3
Tree==0.2.4
typeguard==2.13.3
typing_extensions==4.8.0
urllib3==2.0.7
wcwidth==0.2.12
Werkzeug==3.0.1
WTForms==3.1.0
